apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sm-scaling.serviceAccountName" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ printf "%s-k8s-access" (include "sm-scaling.serviceAccountName" .) }}
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - update
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-k8s-access" (include "sm-scaling.serviceAccountName" .) }}
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ printf "%s-k8s-access" (include "sm-scaling.serviceAccountName" .) }}
subjects:
  - kind: ServiceAccount
    name: {{ include "sm-scaling.serviceAccountName" . }}
