{{- if .Values.hfTokenSecret.createSecret }}
{{- if .Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.hfTokenSecret.secretName }}
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.externalSecrets.secretStoreName }}
    kind: {{ .Values.externalSecrets.secretStoreKind }}
  target:
    name: {{ .Values.hfTokenSecret.secretName }}
  data:
  - secretKey: hf-token-secret
    remoteRef:
      key: {{ default "hf-token-secret" .Values.hfTokenSecret.secretKey }}
      {{- if eq "vault" .Values.externalSecrets.provider }}
      property: {{ default "hub_token" .Values.hfTokenSecret.secretProperty }}
      {{- end }}        
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.hfTokenSecret.secretName }}
  namespace: {{ .Release.Namespace }}
data:
  hf-token-secret: {{ required "Please set the HF token to use from VLLM server" .Values.hfTokenSecret.token | quote }}
{{- end }}
{{- end }}
