---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ include "sm-proxy.serviceAccountName" . }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "sm-proxy.fullname" . }}-cm-reader
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "sm-proxy.fullname" . }}-cm-access
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "sm-proxy.fullname" . }}-cm-reader
subjects:
  - kind: ServiceAccount
    name: "{{ include "sm-proxy.serviceAccountName" . }}"
    namespace: {{ .Release.Namespace }}
