{{- if (or .Values.secrets.redis.create .Values.secrets.cdCache.create) }}
{{- if .Values.secrets.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-resource-manager.redisSecretName" . }}
spec:
  refreshInterval: {{ default "1h" .Values.secrets.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .Values.secrets.externalSecrets.secretStoreName }}
    kind: {{ default "ClusterSecretStore" .Values.secrets.externalSecrets.secretStoreKind }}
  target:
    name: {{ include "sm-resource-manager.redisSecretName" . }}
  data:
    {{- if .Values.secrets.redis.create }}
    - secretKey: redis_url
      remoteRef:
        key: {{ default (include "sm-resource-manager.redisSecretName" .) .Values.secrets.redis.remoteRef.key }}
        {{- with .Values.secrets.redis.remoteRef.property }}
        property: {{ . }}
        {{- end }}
    {{- end }}
    {{- if .Values.secrets.cdCache.create }}
    - secretKey: cd_cache_url
      remoteRef:
        key: {{ default (include "sm-resource-manager.redisSecretName" .) .Values.secrets.cdCache.remoteRef.key }}
      {{- with .Values.secrets.cdCache.remoteRef.property }}
        property: {{ . }}
      {{- end }}
    {{- end }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-resource-manager.redisSecretName" . }}
  namespace: {{ .Release.Namespace }}
data:
  redis_url: {{ required "Please provide redis connection URL" .Values.redis.url }}
{{- end }}
{{- end }}
{{- if .Values.secrets.database.create }}
{{- if .Values.secrets.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-resource-manager.databaseSecretName" . }}
spec:
  refreshInterval: {{ default "1h" .Values.secrets.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .Values.secrets.externalSecrets.secretStoreName | default "vault-backend" }}
    kind: {{ default "ClusterSecretStore" .Values.secrets.externalSecrets.secretStoreKind }}
  target:
    name: {{ include "sm-resource-manager.databaseSecretName" . }}
  data:
    - secretKey: conn_string
      remoteRef:
        key: {{ default (include "sm-resource-manager.databaseSecretName" .) .Values.secrets.database.remoteRef.key }}
        {{- with .Values.secrets.database.remoteRef.property }}
        property: {{ . }}
        {{- end }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-resource-manager.databaseSecretName" . }}
  namespace: {{ .Release.Namespace }}
data:
  conn_string: {{ required "Please provide database connection URL" .Values.database.connectionUrl | b64enc }}
{{- end }}
{{- end }}