{{- if .Values.sessionGroups.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sm-resource-manager.fullname" . }}-sessiongroups
  labels:
    speechmatics.io/component: {{ include "sm-resource-manager.fullname" . }}
    app.kubernetes.io/part-of: sessiongroups
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-sessiongroups-controller
rules:
  - apiGroups:
      - speechmatics.com
    resources:
      - sessiongroups
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - speechmatics.com
    resources:
      - sessiongroups/finalizers
    verbs:
      - update
  - apiGroups:
      - speechmatics.com
    resources:
      - sessiongroups/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""  # The core API group
    resources:
      - pods  # Adding 'pods' resource
      - events
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - get
      - watch
      - patch
      - update
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-sessiongroups-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-sessiongroups-controller
subjects:
  - kind: ServiceAccount
    name: {{ include "sm-resource-manager.fullname" . }}-sessiongroups
    namespace: {{ .Release.Namespace }}
{{- end }}
