{{- if .Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.events" . }}
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.events" . }}
    creationPolicy: Owner

  data:
    {{- with .Values.events.data }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.storage" . }}
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.storage" . }}
    creationPolicy: Owner

  data:
    {{- with .Values.storage.data }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- if (and .Values.proxyCache.redis.external .Values.proxyCache.enabled) }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-redis
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.fullname" . }}-redis
    creationPolicy: Owner

  data:
    {{- with .Values.proxyCache.redis.data }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
{{- if .Values.database.createSecret }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.database" . }}
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.database" . }}
    creationPolicy: Owner

  data:
    {{- with .Values.database.data }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
{{- if .Values.livekit.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-livekit
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.fullname" . }}-livekit
    creationPolicy: Owner

  data:
    {{- with .Values.livekit.data }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
{{- if (and .Values.agentAPI.enabled .Values.agentAPI.useRemote) }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-agent-api
spec:
  refreshInterval: {{ default "1h" .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" .Values.externalSecrets.secretStoreKind }}
    name: {{ .Values.externalSecrets.secretStoreName }}

  target:
    name: {{ include "sm-proxy.fullname" . }}-agent-api
    creationPolicy: Owner

  data:
    {{- with .Values.agentAPI.secretData }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
{{- else }}
---
{{- if $.Values.events.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.events" . }}
  labels:
    {{- include "sm-proxy.labels" . | nindent 4 }}
data:
  {{- with .Values.events.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
---
{{- if $.Values.storage.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.storage" . }}
  labels:
    {{- include "sm-proxy.labels" . | nindent 4 }}
data:
  {{- with .Values.storage.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- if .Values.database.createSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.database" . }}
data:
  {{- with .Values.database.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- if (and .Values.proxyCache.redis.extenal .Values.proxyCache.enabled) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-redis
data:
  {{- with .Values.proxyCache.redis.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- if .Values.livekit.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-livekit
data:
  {{- with .Values.livekit.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- if (and .Values.agentAPI.enabled .Values.agentAPI.useRemote) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sm-proxy.fullname" . }}-agent-api
data:
  {{- with .Values.agentAPI.secretData }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- end }}
