{{- if (or .Values.global.licensing.createSecret .Values.transcriber.licensing.createSecret) }}
{{- $secretName := default .Values.global.licensing.secretName .Values.transcriber.licensing.secretName }}
{{- if .Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sm-transcriber.labels" . | nindent 4 }}
spec:
  refreshInterval: 1h

  secretStoreRef:
    name: {{ .Values.externalSecrets.secretStoreName }}
    kind: {{ .Values.externalSecrets.secretStoreKind }}

  target:
    name: {{ $secretName }}

  data:
  - secretKey: license.json
    remoteRef:
      key: {{ default "speechmatics-license" (default .Values.global.licensing.secretKey .Values.transcriber.licensing.secretKey) }}
      {{- if eq "vault" .Values.externalSecrets.provider }}
      property: {{ default "license" (default .Values.global.licensing.secretProperty .Values.transcriber.licensing.secretProperty) }}
      {{- end }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sm-transcriber.labels" . | nindent 4 }}
data:
  license.json: {{ default .Values.global.licensing.license .Values.transcriber.licensing.license | quote }}
{{- end }}
{{- end }}
