{{- if .Values.transcriber.speakerId.enabled }}
{{- $name := (include "sm-transcriber.fullname" .) }}
{{- with .Values.transcriber.speakerId.keys }}
{{- if $.Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "{{ $name }}-speaker-id"
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ $.Values.externalSecrets.secretStoreName }}
    kind: {{ $.Values.externalSecrets.secretStoreKind }}
  target:
    name: "{{ $name }}-speaker-id"
  data:
    {{- range $key, $value := . }}
    - secretKey: {{ $key }}
      remoteRef:
        key: {{ $value | quote }}
    {{- end }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ $name }}-speaker-id"
  namespace: {{ $.Release.Namespace }}
data:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
