{{/* Give readiness tracker container access to Kube API */}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sm-flow.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sm-flow.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "{{ include "sm-flow.fullname" . }}-pod-access"
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - watch
      - list
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ include "sm-flow.fullname" . }}-kube-access"
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "{{ include "sm-flow.fullname" . }}-pod-access"
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: "system:serviceaccount:{{ .Release.Namespace }}:{{ include "sm-flow.serviceAccountName" . }}"
