{{- if .Values.transcriber.speakerId.enabled }}
{{- $secretName := .Values.transcriber.speakerId.secretName }}
{{- with .Values.transcriber.speakerId.keys }}
{{- if $.Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ $.Values.externalSecrets.secretStoreName }}
    kind: {{ $.Values.externalSecrets.secretStoreKind }}
  target:
    name: {{ $secretName }}
  data:
    {{- range $key, $value := . }}
    - secretKey: {{ $key }}
      remoteRef:
        key: {{ $value | quote }}
    {{- end }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ $.Release.Namespace }}
data:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
{{- if (and $.Values.transcriber.mountModels.enabled (eq $.Values.transcriber.mountModels.provider "azureblob")) }}
{{- if $.Values.externalSecrets.enabled }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: "{{ include "sm-transcriber.fullname" . }}-model-storage"
    namespace: {{ $.Release.Namespace }}
spec:
    refreshInterval: 1h
    secretStoreRef:
      name: {{ $.Values.externalSecrets.secretStoreName }}
      kind: {{ $.Values.externalSecrets.secretStoreKind }}
    target:
      name: "{{ include "sm-transcriber.fullname" . }}-model-storage"
    data:
      - secretKey: azurestorageaccountname
        remoteRef:
          key: {{ $.Values.transcriber.mountModels.azureBlob.storageAccountNameRemoteRef | quote }}
      - secretKey: azurestorageaccountkey
        remoteRef:
          key: {{ $.Values.transcriber.mountModels.azureBlob.storageAccountKeyRemoteRef | quote }}
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "sm-transcriber.fullname" . }}-model-storage"
  namespace: {{ $.Release.Namespace }}
data:
  {{/*  following the example from https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-bring-your-own-storage-account  */}}
  azurestorageaccountname: {{ $.Values.transcriber.mountModels.azureBlob.storageAccountName }}
  azurestorageaccountkey: {{ $.Values.transcriber.mountModels.azureBlob.storageAccountKey }}
{{- end }}
{{- end }}
