{{- $sgEnabled := (default .Values.global.sessionGroups.enabled .Values.sessionGroups.enabled) }}
{{- if $sgEnabled }}

{{- $langItems := list }}
{{- range $lang := uniq (concat .Values.transcriber.languages.cpuLanguages .Values.transcriber.languages.gpuLanguages .Values.global.transcriber.languages) }}
  {{- $langItems = append $langItems (dict "name" $lang "languages" (list $lang) "preWarmLanguages" (list $lang)) }}
{{- end }}
{{- range $recipeName, $recipeDetails := .Values.transcriber.languages.gpuRecipes }}
  {{- $langItems = append $langItems (dict "name" $recipeName "languages" $recipeDetails.languages "preWarmLanguages" $recipeDetails.preWarmLanguages) }}
{{- end }}

{{- $name := (include "sm-transcriber.fullname" .) }}
{{- $kube129 := (semverCompare ">=1.29.0" $.Capabilities.KubeVersion.GitVersion) }}
{{- $mode := (required "Please specify transcriber mode" .Values.transcriber.mode) }}

{{- range $langItem := $langItems }}
{{- $lang := $langItem.name }}
{{- $cleaned_lang := (  $lang | replace "_" "-" ) }}

{{/* Render the session group for each language */}}
---
apiVersion: speechmatics.com/v1
kind: SessionGroup
metadata:
  name: {{ $.Values.transcriber.nameOverride | default (printf "%s-%s" $name $cleaned_lang) }}
  namespace: {{ $.Release.Namespace }}
  {{- with $.Values.transcriber.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    lang: {{ $lang | quote }}
    mode: {{ $mode }}
    app: {{ $mode }}-asr-transcriber
    {{- include "sm-transcriber.labels" $ | nindent 4 }}
    {{- with $.Values.transcriber.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{/* replicas take minReplicas from the per-language scaling override if it exists */}}
  {{- if hasKey (get $.Values.transcriber.languages.overrides.sessionGroupsScaling $lang | default dict) "minReplicas" }}
  replicas: {{ (get $.Values.transcriber.languages.overrides.sessionGroupsScaling $lang).minReplicas }}
  {{- else }}
  replicas: {{ $.Values.sessionGroups.replicas }}
  {{- end }}
  activeNodeScheduling: {{ $.Values.sessionGroups.activeNodeScheduling | default true }}
  {{/* rollout/update config supports per-language override */}}
  {{- if hasKey (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang | default dict) "allowedSurge"  }}
  allowedSurge: {{ (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang).allowedSurge }}
  {{- else }}
  allowedSurge: {{ $.Values.sessionGroups.allowedSurge }}
  {{- end }}

  {{- if hasKey (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang | default dict) "maxPodsCreateAtOnce" }}
  maxPodsCreateAtOnce: {{ (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang).maxPodsCreateAtOnce }}
  {{- else }}
  maxPodsCreateAtOnce: {{ $.Values.sessionGroups.maxPodsCreateAtOnce }}
  {{- end }}

  {{- if hasKey (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang | default dict) "strategyRecreate" }}
  strategyRecreate: {{ (get $.Values.transcriber.languages.overrides.sessionGroupsRollout $lang).strategyRecreate }}
  {{- else }}
  strategyRecreate: {{ $.Values.sessionGroups.strategyRecreate }}
  {{- end }}

  {{/* scaling config supports per-language override */}}
  scaling:
    {{- include "sm-transcriber.sessionGroupsScaling" (dict "lang" $lang "config" $.Values) }}

  {{/* defrag config supports per-language override */}}
  defrag:
    {{- $defrag := merge (get $.Values.transcriber.languages.overrides.sessionGroupsDefrag $lang | default dict) $.Values.sessionGroups.defrag }}
    {{- toYaml $defrag | nindent 4 }}

  selector:
    matchLabels:
      app: {{ $.Values.transcriber.nameOverride | default (printf "%s-%s" $name $cleaned_lang) }}
  template:
    metadata:
      annotations:
        speechmatics.io/component: "{{ $mode }}-asr-transcriber-{{ $lang }}"
        {{- with $.Values.transcriber.additionalPodAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        speechmatics.io/safe-to-evict: "false"
        lang: {{ $lang | quote }}
        app: {{ $mode }}-asr-transcriber
        {{- with $.Values.transcriber.additionalPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default $.Values.global.imagePullSecrets $.Values.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      {{- if (eq "rt" $mode) }}
      {{- (include "sm-transcriber.rtWorker" (dict "context" $ "mode" $mode "name" $name "lang" $lang "sgEnabled" $sgEnabled "languages" $langItem.languages "preWarmLanguages" $langItem.preWarmLanguages)) }}
      {{- else if (eq "batch" $mode) }}
      {{- (include "sm-transcriber.batchWorker" (dict "context" $ "mode" $mode "name" $name "lang" $lang "sgEnabled" $sgEnabled "languages" $langItem.languages "preWarmLanguages" $langItem.preWarmLanguages)) }}
      {{- (include "sm-transcriber.blobUploader" (dict "context" $ "mode" $mode "name" $name "lang" $lang "sgEnabled" $sgEnabled)) }}
      {{- end }}
      {{- if $.Values.readinessTracker.enabled }}
      {{- (include "sm-transcriber.readinessTracker" (dict "context" $ "name" $name "lang" $lang "sgEnabled" $sgEnabled "languages" $langItem.languages)) }}
      {{- end }}
      {{- if (and (not (has $lang $.Values.transcriber.languages.cpuLanguages)) $.Values.workerProxy.enabled) }}
      {{/* Run worker-proxy as an init container on ks8 version > 1.29 so it can work as init+sidecar */}}
      {{- if $kube129 }}
      initContainers:
      {{- end }}
      {{- (include "sm-transcriber.workerProxy" (dict "context" $ "name" $name "lang" $lang "sgEnabled" $sgEnabled "languages" $langItem.languages)) }}
      {{- end }}
      terminationGracePeriodSeconds: {{ $.Values.transcriber.terminationGracePeriodSeconds }}
      {{- with (include "sm-transcriber.nodeSelector" (dict "lang" $lang "config" $.Values)) }}
      nodeSelector:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with (include "sm-transcriber.tolerations" (dict "lang" $lang "config" $.Values)) }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ $name }}
      {{- with $.Values.transcriber.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: license
          secret:
            items:
              - key: license.json
                path: license.json
            secretName: {{ default $.Values.global.licensing.secretName $.Values.transcriber.licensing.secretName }}
        {{- if $.Values.transcriber.mountModels.enabled }}
        - name: modeldata
          persistentVolumeClaim:
            claimName: blob-model-storage
        {{- end }}
        {{- if (and (eq "rt" $mode) $.Values.transcriber.cdCache.enabled) }}
        {{- with $.Values.transcriber.cdCache.volume }}
        - name: cache
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- else if (eq "batch" $mode) }}
        - name: sharedvoluplo
          emptyDir: {}
        - name: internal-api-secret
          secret:
            secretName: {{ $.Values.batch.internalApi.secretName }}
        - name: acsconfigvol
          secret:
            secretName: acs-connection-info
            items:
              - key: acs-config
                path: acs-config.yaml
        - name: autochaptersconfigvol
          secret:
            secretName: auto-chapters-connection-info
            items:
              - key: auto-chapters-config
                path: auto-chapters-config.yaml
        {{- end }}
        {{- if (and (eq "rt" $mode) $.Values.transcriber.speakerId.enabled) }}
        - name: speaker-id
          secret:
            secretName: {{ $.Values.transcriber.speakerId.secretName }}
        {{- end }}
        {{- with $.Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end}}
{{- end }}
{{- end }}
