# nfs-pv.yaml
apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis-speechmatics-pv
  labels:
    app: redis
    role: data
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4.1
    - rsize=1048576
    - wsize=1048576
    - hard
    - timeo=600
    - retrans=2
  nfs:
    server: 172.20.29.12
    path: /ifs/moi/OpenSystem/VOICE_AI/redis-pv
---
# nfs-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-speechmatics-data
  namespace: speechmatics
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  storageClassName: ""         
  selector:
    matchLabels:
      app: redis
      role: data